@media (max-width: 500px) {
  html {
    font-size: 55%;
  }

  header {
    position: relative;
    height: auto;
  }

  header::before {
    width: 100%;
    height: 52.5vh;
  }

  .mobile {
    display: block;
  }

  .nav {
    height: 7.5vh;

    padding: 2rem;
  }

  .nav__links {
    display: none;
  }

  .nav__links.active {
    position: absolute;

    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--secondary);

    border: 1px solid var(--primary);
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;

    z-index: 100;
  }

  .nav__links a {
    color: #000;
    font-size: 3rem;
  }

  .hero {
    flex-direction: column;

    height: auto;
  }

  .hero--img-box {
    flex: auto;
    height: 45vh;
  }

  .hero--img-box::after {
    width: 10rem;
    height: 10rem;
    top: calc(50vh - 10.5rem);
    left: calc(50vw);
  }

  .hero--text-box {
    flex: 50%;
    display: flex;
    flex-direction: column;
    padding: 6rem 0;
    padding-bottom: 0rem;

    text-align: center;
  }

  .hero--text-box .paragraph--main {
    padding: 0 3rem;
  }

  .paragraph--main {
    width: 100%;
  }

  .btn {
    padding: 1rem 3rem;
  }

  .hero--btns {
    width: 100%;

    gap: 1;
    padding: 1rem;
  }

  .hero::after {
    content: '';
    width: 5%;
    height: 25%;
    position: absolute;
    bottom: 0%;
    right: 0%;
    background-color: var(--secondary);

    z-index: -1;

    border-top-left-radius: 30px;
  }

  .section {
    padding: 1.5rem;
  }

  .section__services h1 {
    text-align: center;
  }

  .section__services > .paragraph {
    padding: 0;
  }

  .container__services {
    padding: 0 3rem;
    flex-direction: column;
  }

  .container__services--service {
    padding-top: 3rem;
    width: auto;
  }

  .section__why {
    flex-direction: column;
    padding-right: 0;
  }

  .container__why {
    width: auto;
    padding-right: 6rem;
  }

  .section__why--img-box {
    padding-top: 3rem;
    width: 100%;
  }

  .portfolio__top {
    gap: 2rem;
  }

  .portfolio__top button {
    padding: 1rem 2rem;
  }

  .section__portfolio .paragraph {
    width: auto;
  }

  .portfolio__gallery {
    flex-direction: column;
    padding-bottom: 0;
  }

  .gallery--img {
    width: auto;
  }

  .section__testimonials {
    padding: 0;
  }

  .testimonial {
    padding: 0;

    width: 75%;
  }

  .testimonial p {
    font-size: 1.4rem;
  }

  .slider__btn {
    height: 5.5rem;
    width: 5.5rem;
    font-size: 2rem;
  }

  .dots {
    bottom: 0;
  }

  .chi-sono::after {
    width: auto;
  }

  .chi-sono::before {
    width: 100%;
    height: 50%;
  }

  .chi-sono {
    margin-top: 0;
    flex-direction: column;
    align-items: center;
  }

  .chi-sono__container {
    margin-top: 0;
    flex-direction: column;
    align-items: center;
  }

  .chi-sono__img-box {
    display: flex;
    justify-content: center;
  }

  .chi-sono__img-box img {
    display: block;
    width: 50%;
  }

  .chi-sono__cta-box::before {
    width: 0;
  }

  .chi-sono__cta-box {
    width: 100%;
  }

  .section__connect::before {
    height: 20%;
  }

  .section__connect::after {
    height: 20%;
    top: 15%;
  }

  .partners--container h1 {
    text-align: center;
  }

  .partners__gallery {
    flex-direction: column;
  }

  .partners__gallery--element {
    width: 50%;
  }

  .footer {
    padding: 4rem 0;
  }

  .footer p {
    width: 100%;
    padding: 0 2rem;
    text-align: center;
    color: #111;
  }

  .footer__links {
    padding: 0;
    gap: 1rem;
  }

  /* CONTATTI PAGE */

  .contatti--section {
    padding: 0;
    text-align: center;
  }

  .contatti--container {
    flex-direction: column-reverse;
  }

  .contatti--img-box {
    width: 100%;
  }

  .contatti--img-box img {
    width: 100%;
    display: block;
  }

  .form-group {
    flex-direction: column;
    align-items: center;
  }

  .contatti__social {
    flex-direction: column;
    align-items: center;
  }

  /* SERVIZI PAGE */

  .servizi--section {
    padding: 0;
  }

  .servizi--container {
    position: relative;

    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 1rem;
    gap: 2rem;

    justify-content: space-around;
    align-items: center;
  }

  .servizi--text-box {
    padding: 0;
    text-align: justify;
    flex-direction: column;
  }

  .servizi--text-box h1 {
    text-align: center;
  }

  .servizi--container .servizi--text-box {
    padding: 1rem;

    flex: 1;
  }

  .card--container {
    flex-direction: column;

    gap: 2rem;

    padding: 3rem 6rem;
  }
}
