* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto";
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Abril Fatface";
  letter-spacing: 1px;
}

section {
  padding: 3rem 0;
}

.heading--primary {
  padding-top: 0.8rem;
  padding-bottom: 2.4rem;
  font-size: 4.2rem;
  line-height: 1;
}

.nav {
  display: flex;
  justify-content: space-between;

  padding: 2rem 4rem;
}

.nav__name {
  font-size: 4.2rem;

  color: rgb(204, 14, 14);
}

.nav__links {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 3rem;

  font-size: 2rem;
  color: #666;

  text-transform: uppercase;
}

header {
  position: relative;

  overflow: hidden;
  padding-top: 2rem;
  padding-bottom: 6rem;

  /* height: 100vh; */
}

body::before {
  content: "";
  width: 50%;
  height: 97.5%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(228, 99, 99);
  z-index: -1;

  border-top-right-radius: 25%;
}

.hero {
  display: flex;

  align-items: center;
  justify-content: space-around;
}

.hero--img-box {
  /* height: 100%; */
}

.hero--img-box::before {
  content: "";
  width: 8%;
  height: 17%;
  position: absolute;
  top: 80%;
  left: 46%;
  background-color: rgb(198, 25, 25);
  z-index: -1;

  border-bottom-right-radius: 25%;
}

.hero--img-box::after {
  content: "";
  width: 25%;
  height: 50%;
  position: absolute;
  top: 40%;
  left: 93.5%;
  background-color: rgb(228, 99, 99);

  z-index: -1;

  border-top-left-radius: 25%;
}

.hero--img-box img {
  /* width: 100%; */
}

.hero--text-box {
  display: flex;
  flex-direction: column;
  width: 27.5%;
  margin-right: 6rem;
  margin-bottom: 12rem;

  /* margin-right: 12rem; */
}

.hero--name {
  font-size: 2rem;
  color: #333;
}

.heading--primary {
  padding-top: 0.8rem;
  padding-bottom: 2.4rem;
  font-size: 4.2rem;
  line-height: 1;
}

.paragraph {
  color: #444;
  line-height: 1.5;
}

.hero--btns {
  padding: 3rem 0;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.btn {
  padding: 0.8rem 0;
  width: 100%;
  border: none;
  border-radius: 24px;

  text-transform: uppercase;
}

.btn--cta {
  color: #fff;
  background-color: rgb(204, 14, 14);
}

.btn--secondary {
  color: rgb(204, 14, 14);
  border: 1px solid rgb(204, 14, 14);
  background-color: transparent;
}

/* SECTION SERVICES */

.section {
  padding: 8rem 12rem;
}

.section__services {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  position: relative;
}

.section__services::after {
  content: "";
  width: 25%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: -18%;
  background-color: rgb(228, 99, 99);

  z-index: -1;

  border-top-right-radius: 25%;
}

.section__services > .paragraph {
  text-align: center;
  padding: 0 8rem;
}

.container__services {
  padding: 6rem 0;
  display: flex;
  justify-content: space-between;
}

.container__services--service {
  width: 30%;
}

.service--paragraph {
  margin: 2rem 0;
  padding: 0 2rem;

  border-left: 4px solid rgb(228, 99, 99);
}

.service--link {
  text-decoration: none;
  color: rgb(228, 99, 99);
}

/* SECTION WHY */

.section__why {
  display: flex;
  justify-content: space-between;

  position: relative;
}

.container__why {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.why__list {
  padding: 2rem;
  line-height: 1.5;
}

.why__list--item::marker {
  color: rgb(228, 99, 99);
  font-size: 2rem;
}

.why__links {
  display: flex;
  justify-content: space-around;

  list-style: none;
}

.why__links--item {
  display: block;
  font-family: "Abril Fatface";

  text-decoration: none;
  font-size: 2rem;
  color: #666;

  padding-bottom: 4rem;
}

.container__why .btn--cta {
  width: fit-content;

  background-color: rgb(228, 99, 99);

  padding: 1.5rem 4rem;
  font-size: 1.4rem;
}

.section__why::before {
  content: "";
  width: 40%;
  height: 80%;
  position: absolute;
  top: 10%;
  right: 0;
  background-color: rgb(228, 99, 99);
  z-index: -1;

  border-top-left-radius: 25%;
}

.section__why--img-box::before {
  content: "";
  width: 8%;
  height: 17%;
  position: absolute;
  top: 80%;
  left: 56%;
  background-color: rgb(198, 25, 25);
  z-index: -1;

  border-bottom-right-radius: 25%;
}
