:root {
  --primary: #6100a6;
  --secondary: #dbb9f4;

  --link-primary: #333;
  --link-secondary: #666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: 'League Spartan';
}

.mobile {
  display: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lora';
  letter-spacing: 1px;
}

.section {
  padding: 6rem 12rem;
}

.heading--primary {
  padding-top: 0.8rem;
  padding-bottom: 2.4rem;
  font-size: 4.8rem;
  line-height: 1;
}

.heading--secondary {
  font-size: 3rem;
}

.paragraph {
  color: #444;
  line-height: 1.25;
}

.paragraph--main {
  width: 75%;
  font-size: 2rem;
}

.btn {
  padding: 1rem 4rem;
  border: none;
  border-radius: 24px;

  text-transform: uppercase;

  font-size: 1.8rem;
}

.btn--cta {
  color: #fff;
  background-color: var(--primary);
  transition: all 0.2s;
  border: 1px solid var(--primary);
}

.btn--cta-secondary {
  color: var(--primary);
  background-color: #fff;
  border: 1px solid var(--secondary);
  transition: all 0.2s;
}

.btn--cta:hover,
.btn--cta-secondary:hover {
  cursor: pointer;
  color: var(--primary);
  background-color: #fff;
  border: 1px solid var(--primary);
}

.btn--secondary {
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: transparent;
  transition: all 0.2s;
}

.btn--secondary:hover {
  cursor: pointer;
  color: #fff;
  background-color: var(--primary);
}

.link {
  text-decoration: none;
  color: var(--link-secondary);
}

.link:hover {
  color: var(--secondary);
}

.link:visited:hover {
  color: var(--primary);
}

.link--clean {
  color: #fff;
}

.link--clean:hover,
.link--clean:visited {
  color: inherit;
}

.bold {
  font-weight: 700;
}

.underline {
  text-decoration: underline !important;
}

/* HEADER */

header {
  position: relative;
  height: 100vh;
}

header::before {
  content: '';
  width: 50%;
  height: 105%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--secondary);
  z-index: -1;

  border-top-right-radius: 25%;
}

/* NAVIGATION */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 4rem;

  height: 15vh;
}

.nav__name {
  font-size: 5.2rem;

  color: var(--primary);
}

.nav__links {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 3rem;

  font-size: 3.2rem;

  text-transform: uppercase;

  transition: all 0.2s;
}

.nav__links--link {
  text-decoration: none;
  color: var(--link-secondary);
}

.nav__links--link:hover {
  cursor: pointer;

  color: var(--primary);
}

.nav__links--btn {
  background-color: var(--primary);
  padding: 0.5rem 1rem;

  border-radius: 12px;
}

/* HERO */

.hero {
  display: flex;

  align-items: center;
  justify-content: space-around;
  height: 90vh;
}

.hero--img-box {
  flex: 50%;
  height: 100%;
  position: relative;

  display: flex;

  justify-content: center;
}

.hero--img-box::after {
  content: '';
  width: 12.5rem;
  height: 12.5rem;
  position: absolute;
  top: calc(90vh - 7.5rem);
  left: calc(50vw - 7.5rem);
  background-color: var(--primary);
  z-index: 100;

  border-bottom-right-radius: 25%;
}

.hero::after {
  content: '';
  width: 5%;
  height: 40%;
  position: absolute;
  bottom: 0%;
  right: 0%;
  background-color: var(--secondary);

  z-index: -1;

  border-top-left-radius: 30px;
}

.hero--img-box img {
  display: block;
  height: 100%;
}

.hero--text-box {
  flex: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}

.hero--name {
  font-size: 3.2rem;
  color: #333;
}

.hero--btns {
  padding: 3rem 0;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  width: 75%;
}

/* SECTION SERVICES */

.section__services {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  position: relative;

  padding-top: 10rem;
}

.section__services::after {
  content: '';
  width: 5%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--secondary);

  z-index: -1;

  border-top-right-radius: 30px;
}

.section__services > .paragraph {
  text-align: center;
  padding: 0 8rem;
}

.container__services {
  padding: 6rem 0;
  display: flex;
  justify-content: space-between;
}

.container__services--service {
  width: 30%;
}

.service--paragraph {
  margin: 2rem 0;
  padding: 0 2rem;

  border-left: 4px solid var(--secondary);
}

/* SECTION WHY */

.section__why {
  display: flex;
  justify-content: space-between;

  padding-left: 6rem;
  padding-right: 0;
}

.container__why {
  display: flex;
  flex-direction: column;

  width: 45%;
}

.why__list {
  padding: 2rem;
  line-height: 1.5;
  font-size: 1.8rem;
}

.why__list--item::marker {
  color: var(--primary);
  font-size: 2rem;
}

.why__links {
  display: flex;
  justify-content: space-around;

  list-style: none;
}

.why__links--item {
  display: block;
  font-family: 'Abril Fatface';

  text-decoration: none;
  font-size: 2rem;
  color: var(--link-secondary);

  padding-bottom: 4rem;
}

.container__why .btn--cta {
  width: fit-content;

  padding: 1rem 4rem;
}

.section__why--img-box {
  display: flex;
  align-items: flex-end;
  width: 50%;
  position: relative;
}

.section__why--img-box img {
  display: block;
  width: 100%;
}

.section__why--img-box::before {
  content: '';
  width: 85%;
  height: 75%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--primary);

  z-index: -1;

  border-top-left-radius: 25%;
}

.section__why--img-box::after {
  content: '';
  width: 15%;
  height: 17%;
  position: absolute;
  bottom: -7.5%;
  left: 8.5%;
  background-color: var(--secondary);

  z-index: -1;

  border-bottom-right-radius: 25%;
}

/* PORTFOLIO */

.portfolio__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio__top button {
  width: fit-content;

  padding: 1rem 4rem;

  margin-top: 0.8rem;
  margin-bottom: 2.4rem;
}

.section__portfolio .paragraph {
  width: 60%;
}

.portfolio__gallery {
  padding: 3rem 0;

  display: flex;

  gap: 3rem;
}

.gallery--img img {
  width: 100%;
  border-radius: 12px;
}

/* CHI SONO */

.section__chi-sono {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  position: relative;

  padding: 0 6rem;
}

.chi-sono__container {
  margin-top: 6rem;
  display: flex;

  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.chi-sono__img-box {
  height: 100%;
}

.chi-sono__img-box img {
  display: block;
  width: 100%;
}

.chi-sono__container h1 {
  font-size: 5rem;
}

.chi-sono__container::before {
  content: '';
  width: 50%;
  height: 75%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--primary);
  z-index: -1;

  border-top-right-radius: 40%;
}

.chi-sono__container::after {
  content: '';
  width: 50%;
  height: 75%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--primary);
  z-index: -1;
}

.chi-sono__cta-box::before {
  content: '';
  width: 12.5rem;
  height: 12.5rem;
  position: absolute;
  top: calc(35vh - 10rem);
  left: calc(40vw - 10rem);
  background-color: var(--secondary);
  z-index: 1;

  border-bottom-right-radius: 25%;
}

.chi-sono__cta-box {
  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  color: #fff;
}

.chi-sono__cta-box .paragraph {
  color: #fff;
}

.btn--chi-sono {
  width: fit-content;

  margin-top: 2rem;
  padding: 1rem 4rem;

  background-color: #fff;
  color: var(--primary);
}

.btn--chi-sono:hover {
  border: 1px solid #fff;
}

/* PARTNERS */

.section__partners {
  position: relative;

  overflow: hidden;

  padding: 0 12rem;
}

.section__partners::before {
  content: '';
  width: 5%;
  height: 75%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary);

  z-index: -1;

  border-bottom-right-radius: 120px;
}

.section__partners::after {
  content: '';
  width: 5%;
  height: 75%;
  position: absolute;
  bottom: 0%;
  right: 0%;
  background-color: var(--secondary);

  z-index: -1;

  border-top-left-radius: 120px;
}

.partners--container {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.partners__gallery {
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 4rem 0;

  gap: 1rem;
}

.partners__gallery--element {
  flex: 1;
}

.partners__gallery--element h2 {
  font-size: 2rem;
  color: var(--primary);
}

.partners__gallery--element p {
  font-size: 1rem;
  color: #111;
}

.partners__gallery--img {
  width: 100%;
}

.partners__gallery--img img {
  width: 100%;
}

/* FOOTER */

.footer {
  background-color: var(--secondary);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 8rem 0;
}

.footer h1 {
  color: var(--primary);
}

.footer p {
  width: 50%;
  text-align: center;
  color: #111;
}

.container__social {
  display: flex;
  gap: 2rem;
  padding: 2rem 0;
}

.container__social--element {
  width: 4rem;
  height: 4rem;

  background-color: var(--primary);

  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s;
}

.container__social--element i {
  font-size: 2rem;
  color: #fff;
}

.container__social--element:hover {
  cursor: pointer;

  background-color: var(--secondary);
}

.footer__links {
  padding: 4rem;
  list-style: none;

  display: flex;
  gap: 3rem;

  text-transform: uppercase;

  font-size: 1.8rem;

  color: #222;
}

.copyright {
  padding: 3rem 0;
  text-align: center;
  background-color: var(--primary);

  color: #fff;
}

/* PORTFOLIO PAGE */

.portfolio--section {
  padding-top: 0;
}

.portfolio--header {
  padding: 2rem 0;
}

.portfolio--header h1,
.portfolio--header p {
  text-align: center;
}

.portfolio__list {
  margin-bottom: 2rem;
}

.portfolio__list--item {
  padding: 0.5rem 0;
  margin: 0 2rem;
}

.portfolio__list--link {
  text-decoration: none;
}

/* CONTATTI PAGE */

.contatti--img-box::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--secondary);
  z-index: -1;

  border-top-left-radius: 25%;
}

.contatti--container {
  display: flex;
  gap: 2rem;

  width: 100%;

  align-items: center;
}

.contatti--img-box {
  position: relative;
  width: 40vw;
}

.contatti--img-box img {
  width: 100%;
  display: block;
}

.contatti--text-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contatti--section {
  padding: 0;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;

  align-items: center;

  font-size: 2rem;
}

.form-group {
  padding: 2rem 0;

  display: flex;
  gap: 2rem;
}

.contatti__social {
  padding: 2rem 0;
  display: flex;
  gap: 2rem;

  font-size: 2.4rem;
}

.email {
  padding: 1rem 0;

  font-size: 2rem;
}

/* SERVIZI PAGE */

.servizi--section {
  padding: 0;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.servizi--container {
  position: relative;

  display: flex;
  width: 100%;

  padding: 3rem;
  gap: 2rem;

  justify-content: space-around;
  align-items: center;
}

.servizi--img-box {
  width: 100%;
  flex: 50%;
}

.servizi--img-box img {
  width: 100%;

  border-radius: 12px;
}

.servizi--text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.servizi--text-box p {
  padding: 1rem 0;
}

.servizi--container img {
  width: 100%;
}

.servizi--container h1,
.servizi--container p {
  color: #fff;
}

.servizi--container .servizi--text-box {
  padding: 3rem;

  flex: 50%;
}

.servizi--container::before {
  content: '';
  height: 100%;
  width: inherit;

  top: 0;
  left: 0;

  background-color: var(--primary);

  position: absolute;

  z-index: -1;
}

.servizi--strategia {
  text-align: center;
}

.card--container {
  display: flex;
  width: 100%;

  justify-content: space-around;

  padding: 3rem 0;

  position: relative;
}

.card--container:before {
  content: '';
  width: 5%;
  height: 50%;
  position: absolute;
  bottom: 0%;
  left: 0%;
  background-color: var(--primary);

  z-index: 1;

  border-top-right-radius: 24px;
}

.card--container::after {
  content: '';
  width: 5%;
  height: 50%;
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: var(--primary);

  z-index: 1;

  border-bottom-left-radius: 24px;
}

.card {
  text-align: left;
  font-size: 1.8rem;
  display: flex;

  justify-content: center;
  gap: 2rem;

  box-shadow: 0px 0px 2px 1px #333;
  border-radius: 7px;

  background-color: var(--secondary);
}

.card h2 {
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--primary);
}

.card ul {
  padding: 1rem 2rem;

  background-color: var(--secondary);
}

.card img {
  width: 100%;
}

.card li {
  margin-left: 2rem;
  padding: 0.5rem 0;
}

/* SLIDER */
.slider {
  max-width: 120rem;
  height: 30rem;
  margin: 0 auto;
  position: relative;

  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 1s;
}

.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #888;
  opacity: 1;
}

/* SECTION TESTIMONIALS */

.section__testimonials {
  padding: 0;
}

.section__testimonials h1 {
  text-align: center;
}

.testimonial {
  width: 65%;
  position: relative;
}

.testimonial h1 {
  text-align: center;
}

.testimonial p {
  width: 100%;
}
